{% extends 'add_task/add_task_base.html' %}
{% block add_task_form %}
    <form method = "POST">
        {% csrf_token %}
        Nowe zlecenie:
        <br>
        <br>
        Nazwa roweru:
        <input type="text" name="bicycle_name" value="{{ task.bicycle_name }}">
        <br>
        <br>
        Rok:
        <input type="number" name="bicycle_year" value="{{ task.bicycle_year }}">
        <br>
        <br>
        Usterki:
        <select multiple name="defects">
            {% for defect in defects %}
                <option value="{{ defect.id }}">{{ defect.description }} {{ defect.average_price }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        Czesci do wymiany:
        <select multiple name="parts">
            {% for part in parts %}
                <option value="{{ part.id }}">{{ part.description }} {{ part.average_price }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Dodatkowe informacje >>">
    </form>
{% endblock %}