{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pro Sport SERVICE</title>
<link href="{% static '/base.css' %}" rel="stylesheet">
</head>
<body>

    {% for task in tasks %}
        <ul>
        {{ task.id }}
        <li>Model: {{ task.bicycle_name }} {{ task.bicycle_year }}</li>
        <li>Priorytet: {{ task.priority }}</li>
        <li>Czas serwisu: {{ task.estimated_time }}</li>
        <li>Notatki: {{ task.notes }}</li>
        <li>Oszacowana cena: {{ task.expected_price }}</li>
        <li>Zaliczka: {{ task.payment_in_advance }}</li>
        <li>Reklamacja: {{ task.reclamation }}</li>
        <li>Klient: {{ task.client }}</li>
        <li>Usterki: {% for defect in task.tasksdefects_set.all %} {{ defect }} {% endfor %}</li>
        <li>Czesci do wymiany: {% for part in task.tasksparts_set.all %} {{ part }} {% endfor %}</li>
{#        <li><a href="{% url 'edit_task' task.id %}">Edycja</a></li>#}
        </ul>
    {% endfor %}

</body>
</html>